.main-content {
    padding: 20px;
    .main-content__left {
        padding: 10px;
        .main-content__left__image {
            img {
                width: 100%;
                margin: 3px 0px;
            }
        }
    }
    .main-content__right {
        padding: 25px;
        img {
            width: 100%;
        }
    }
}
::ng-deep .leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

::ng-deep  .rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}