<div class="main-content" flexLayout="row" fxLayoutAlign="center center">
  <div class="main-content__left" fxFlex="13" flexLayout="column">
    <div *ngFor = "let slide of slides" class="main-content__left__image">
      <img src="{{slide.src}}" alt="" (click)="onPressImage(slide)">
    </div>
  </div>
 
  <div class="main-content__right" fxFlex="75">
      <ngx-carousel
        [inputs]="carouselOne"
        (onMove)="onmoveFn($event)" 
        [moveToSlide]="imageId">
            <ngx-item NgxCarouselItem *ngFor = "let slide of slides">
                <img src="{{slide.src}}" alt="">
            </ngx-item>
          <span NgxCarouselPrev class='leftRs'><img src="{{image_icon.LEFT_ARROW}}"></span>
          <span NgxCarouselNext class='rightRs'><img src="{{image_icon.RIGHT_ARROW}}"></span>
    </ngx-carousel>
  </div>
</div>