<div class="header" flexLayout="row" fxLayoutAlign="center center" #menu>
    <div fxFlex fxGrow="0.1"></div>
  <div class="header__logo" fxFlex="40px">
    <img src="{{logo}}" alt="" class="header__logo-img">
  </div>
  <div fxFlex fxGrow="1"></div>
  <div class="header__menu" fxFlex="45%" fxLayoutAlign="center center">
 
    <div class="header__menu-content" flexLayout="row" fxLayoutAlign="center center">
      <a>{{language.VECTOR}}</a>
      <a>{{language.PHOTO}}</a>
      <a>{{language.LOGIN}}</a>
      <a>{{language.SIGNUP}}</a>
    </div>
    <div flexLayout="row" fxLayoutAlign="center center">
        <img src="{{languageImg}}" alt="">
        <a class="header__menu-content-language">
          <select (change)="languageChange($event)">
            <option *ngFor="let lang of langs" [value]="lang.id">{{lang.value}}</option>
          </select>
        </a>
    </div>
    <div class="header__menu--toggle" (click)="onToggleMenu($event)">
        <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
        <mat-menu #menu="matMenu" class="menu-dropDown">
            <button mat-menu-item>{{language.VECTOR}}</button>
            <button mat-menu-item>{{language.PHOTO}}</button>
            <button mat-menu-item>{{language.LOGIN}}</button>
            <button mat-menu-item>{{language.SIGNUP}}</button>
          </mat-menu>
    </div>
  </div>
  <div fxFlex fxGrow="0.1"></div>
</div>