<div class="header" flexLayout="row" fxLayoutAlign="center center">
    <div fxFlex fxGrow="0.1"></div>
  <div class="header__logo" fxFlex="40px">
    <img src="{{logo}}" alt="" class="header__logo-img">
  </div>
  <div fxFlex fxGrow="1"></div>
  <div class="header__menu" fxFlex="35%">
    <div class="header__menu-content" flexLayout="row" fxLayoutAlign="center center">
      <a>{{language.VECTOR}}</a>
      <a>{{language.PHOTO}}</a>
      <a>{{language.LOGIN}}</a>
      <a>{{language.SIGNUP}}</a>
      <img src="{{languageImg}}" alt="">
      <a class="header__menu-content-language">
        <select (change)="languageChange($event)">
          <option *ngFor="let lang of langs" [value]="lang.id">{{lang.value}}</option>
        </select>
      </a>
    </div>
  </div>
  <div fxFlex fxGrow="0.1"></div>
</div>