<div class="right-content">
  <div class="right-content__download" (click)="onPressDownload()" flexLayout="row" fxLayoutAlign="center center">
    <img src="{{image.DOWNLOAD}}" alt="" fxFlex="15px">
    <div>Free Download</div>
  </div>
  <div class="right-content__option" flexLayout="row" fxLayoutAlign="center center">
    <mat-radio-button></mat-radio-button>
    <span class="right-content__option-btn">PSD</span>
    <span class="right-content__option-btn">PNG</span>
    <span class="right-content__option-btn">JPEG</span>
    <span>33MB</span>
    <span class="right-content__option-btn-free">FREE</span>
  </div>
  <div class="right-content__action" flexLayout="row" fxLayoutAlign="center center">
    <div fxFlex="48" class="right-content__action-favourite">
      <mat-icon>favorite</mat-icon>
    </div>
    <div fxFlex fxGrow="1"></div>
    <div fxFlex="48" class="right-content__action-share">
      <mat-icon>share</mat-icon>
    </div>
  </div>
  <div class="right-content__description" flexLayout="row" fxLayoutAlign="center center">
    <div class="right-content__description-title" fxFlex="40" flexLayout="row" fxLayoutAlign="center center">
     <img src="{{image.PROFILE}}" alt=""> License
    </div>
    <div class="right-content__description-content" fxFlex="60" flexLayout="column">
      <div>
        Free for commercial use
      </div>
      <div>
        No attribution required
      </div>
    </div>
  </div>
</div>