<div class="app">
  <div class="app__header">
   <app-header [language]= "language" (currentLanguage)="currentLanguage($event)"></app-header>
  </div>
  <div class="app__content" flexLayout="row wrap">
      <div class="app__content-main" fxFlex ="72" fxFlex.xs="100" fxFlex.sm="100">
        <app-main-content (currentSlide)="currentSlide($event)" [language]= "language"></app-main-content>
      </div>
      <div class="app__content-right" fxFlex ="25" fxFlex.xs="100" fxFlex.sm="100" >
        <app-right-content [currentSlides]="current" [language]= "language"></app-right-content>
      </div>
  </div>
    <div class="app__footer">
        <app-footer></app-footer>
    </div>
</div>