<div class="app">
  <div class="app__header">
   <app-header [language]= "language" (currentLanguage)="currentLanguage($event)"></app-header>
  </div>
  <div class="app__content" flexLayout="row">
      <div class="app__content-main" fxFlex ="75">
        <app-main-content (currentSlide)="currentSlide($event)"></app-main-content>
      </div>
      <div class="app__content-right" fxFlex ="25">
        <app-right-content [currentSlides]="current"></app-right-content>
      </div>
  </div>
    <div class="app__footer">
        <app-footer></app-footer>
    </div>
</div>