.app {
    width: 100%;
    .app__header {
      width: 100%;
      background-color: #3e3e3f;
      color: white;
      padding: 3px 0px;
    }
    .app__content {
        width: 100%;
        flex-wrap: wrap;
        background-color: #f2f3f4;
        .app__content-main {
            background-color: #ffff;
            width: 100%;
            margin: 20px 20px;
        }
        .app__content-right {
            width: 100%;
            position: fixed;
            right: 0px;
        }
        @media only screen and (max-width: 768px) {
           .app__content-right {
            position: relative;
               
            // display: none;
           }
        }
    }
    .app__footer {
      background-color: #3e3e3f;
    }
}